.Header {
  background-color: #26303b;
  color: white;
  height: 60px;
  box-shadow: 0 -7px 10px 5px rgba(0,0,0,0.5);
  position: sticky;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 20px; 
  font-family: "EmberBold";
}

#ember-light {
  font-family: "EmberLight";
  color: lightgray;
}

.header-name {
  margin-left: auto;
  margin-right: 30px;
}

.audio-player {
  align-items: center;
  justify-content: center;
  padding: 0px 30px 0px 30px;
}

.audio-player-inside {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: row;
  padding-right: 20px
}

.voicemail-table {
  margin: 30px;
  font-family: 'EmberRegular' !important;
}

.second-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transcript-container {
  background-color: #e8ebed;
  padding: 15px; 
  font-family: 'EmberRegular';
  border-radius: 15px;
  margin-top: 10px;
}

.statusBar {
  padding: 30px;
}

#status-line {
  font-family: 'EmberRegular'
}

.bold-text {
  font-family: 'EmberHeavy'
}


.navigation {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;

}

.navigationwrapper
{
    min-width: 100%;
    background-color: #e8ebed;
    min-height: 10px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 0;

}

.seekbar {
  width: 0;
  height: 10px;
  background-color: green;
  border-radius: 30px;
}

.timers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-action {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-style: none;
  margin: 5px;
  background-color: #26303b;
}

.btn-action:hover {
  background-color: lightgray;
  border-color: #26303b;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
}

#button-back {
    background-image: url("./assets/back.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#button-back:hover {
  background-image: url("./assets/back-black.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#button-next {
  background-image: url("./assets/next.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#button-next:hover {
  background-image: url("./assets/next-black.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#button-play {
  background-image: url("./assets/play.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#button-play:hover {
  background-image: url("./assets/play-black.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#button-pause {
  background-image: url("./assets/pause.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#button-pause:hover {
  background-image: url("./assets/pause-black.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.newbadge {
  margin-right: 10px;
}

#notranscriptredtext {
  padding: 10px;
  color: #0872d3;
}